<h4 class='text-center'>Edit Question</h4>

<%= render 'form' %>

<p>
  <%= link_to 'Back', @question, class: "btn btn-primary" %>
  <%= link_to list_icon.concat(' All Questions'), goal_questions_path(@question.goal), class: "btn btn-info" %>
</p>
