<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center with-padding">Your Profile</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-1">
    <p>
      Name
    </p>
  </div>
  <div class="col-sm-9">
    <p><%= @user.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-sm-offset-1">
    <p>
      Email
    </p>
  </div>
  <div class="col-sm-9">
    <p><%= @user.email %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= link_to pencil_icon.concat(" Edit Profile"), edit_user_registration_path(@user), class: "btn btn-default", 'data-turbolinks' => false %>
  </div>
</div>
