<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <p><%= @goal.description %></p>
            <span class="label label-info"><%= @goal.frequency %></span>
            <span class="label label-default"><%= @goal.goaltype %></span>
        </div>
    </div>
</div>
