<div class="row">
    <div class="col-sm-12">
        <% if notice %><div class="alert"><p id="notice" class="text-center"><%= notice %></p></div><% end %>
        <div class="well">
            <%= @goal.description %><br><br>
            <span class="label label-info"><%= @goal.frequency %></span>
            <span class="label label-default"><%= @goal.goaltype %></span>
        </div>
    </div>
</div>
