<div class="row">
    <div class="col-sm-12">
        <div class="well">
          <div class="col-sm-3">
            <h5>Success is...</h4>
          </div>
          <div class="col-sm-9">
            <p><%= @goal.success_description %></p>
          </div><br>
        </div>
    </div>
</div>
