a {
    text-decoration: none;
}



body {
  padding-top: 70px;
  background-image: image-url("skyclouds-750cropped.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
}

@media (min-width: 768px) {
  body {
    background-image: image-url("skyclouds-1500.jpeg");
  }
 }

 @media (min-width: 1500px) {
   body {
     background-image: image-url("skyclouds-3000.jpeg");
   }
  }

/** for transparent shit
linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ),  */


.panel-heading .panel-title {
  font-size: 18px;
}

.with-padding {
  padding-bottom: 15px;
}


.debug_dump {
  margin-top: 45px;
}

h3 {
  padding-bottom: 15px;
}

// -- ID NOTICE -----

#notice {
  @extend .has-error;
}

#sidegoalmenu2.btn {
  margin-top: 20px;
}

// FOR WELLS & HEADINGS

div.well h5 {
  margin-top: inherit;
  margin-bottom: 14px;
}

// GOAL PAGES

dd, dt {
  padding-bottom: 5px;
}

#checkin_log_graph {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

// CHECKIN FORM

.btn-group .btn span.glyphicon {
	opacity: 0;
}
.btn-group .btn.active span.glyphicon {
	opacity: 1;
}

input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
  display: none;
}

.btn-rating-1 {
  width: 55px;
  background-color: #de825b;
}

.btn-rating-2 {
  width: 55px;
  background-color: #BD995C;
}

.btn-rating-3 {
  width: 55px;
  background-color: #9CB05D;
}

.btn-rating-4 {
  width: 55px;
  background-color: #7BC75E;
}

.btn-rating-5 {
  width: 55px;
  background-color: #5BDE60;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.navbar-default .navbar-text {
  color: #5ebb64;
  text-transform: uppercase;
  letter-spacing: .1em;
  max-width: 365px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 15px;
}

@media (min-width: 768px) {
  .navbar-default .navbar-text {
    padding: 0px 0px;
  }
 }

a.list-group-item, button.list-group-item {
  background: transparent;
}

textarea.form-control, input[type=text].form-control {
  //padding-left: 5px;
  background: rgba(94, 163, 233, 0.05);
}

.checkbox input[type="checkbox"] {
  margin-left: 0px;
}

#checkin-link {
  text-transform: uppercase;
  font-weight: bold;
  color: maroon;
}

.white-background {
  background: rgba(255, 255, 255, 0.5);
}

dl {
  margin-left: 5px;
  margin-right: 5px;
}

// PANELS

.panel-heading {
    font-weight: bold;
  }
